USE [master]
GO
/****** Object:  Database [QLVLXD]    Script Date: 12/28/2017 10:48:42 PM ******/
CREATE DATABASE [QLVLXD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLVLXD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS113\MSSQL\DATA\QLVLXD.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLVLXD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS113\MSSQL\DATA\QLVLXD_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLVLXD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLVLXD]
GO
/****** Object:  Table [dbo].[CHITIETPN]    Script Date: 12/28/2017 10:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPN](
	[SOPN] [int] NOT NULL,
	[MAHH] [int] NOT NULL,
	[SOLUONGNHAP] [int] NULL,
 CONSTRAINT [PK_CTPN] PRIMARY KEY CLUSTERED 
(
	[SOPN] ASC,
	[MAHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTHOADON]    Script Date: 12/28/2017 10:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTHOADON](
	[SOHD] [int] NOT NULL,
	[MAHH] [int] NOT NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_CTHD] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC,
	[MAHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HANGHOA]    Script Date: 12/28/2017 10:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HANGHOA](
	[MAHH] [int] IDENTITY(1,1) NOT NULL,
	[TENHH] [nvarchar](250) NULL,
	[SOLUONGTON] [int] NULL,
	[DONGIA] [int] NULL,
	[LOAIHANG] [int] NULL,
	[DONVITINH] [nvarchar](250) NULL,
	[GIANHAP] [int] NULL,
 CONSTRAINT [PK_HH] PRIMARY KEY CLUSTERED 
(
	[MAHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/28/2017 10:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[SOHD] [int] IDENTITY(1,1) NOT NULL,
	[TONGTIEN] [int] NULL,
	[NGAYLAP] [datetime] NULL,
	[MAKH] [int] NULL,
	[NVLAP] [int] NULL,
 CONSTRAINT [PK_HD] PRIMARY KEY CLUSTERED 
(
	[SOHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/28/2017 10:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[TENKH] [nvarchar](250) NULL,
	[SDT] [int] NULL,
	[DIACHI] [nvarchar](1000) NULL,
 CONSTRAINT [PK_KH] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOAIHANGHOA]    Script Date: 12/28/2017 10:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIHANGHOA](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](250) NULL,
 CONSTRAINT [PK_LHH] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHACC]    Script Date: 12/28/2017 10:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACC](
	[MANCC] [int] IDENTITY(1,1) NOT NULL,
	[TENNCC] [nvarchar](250) NULL,
	[SDT] [int] NULL,
	[DIACHI] [nvarchar](1000) NULL,
 CONSTRAINT [PK_NCC] PRIMARY KEY CLUSTERED 
(
	[MANCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/28/2017 10:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [int] IDENTITY(1,1) NOT NULL,
	[TENNV] [nvarchar](250) NULL,
	[SDT] [int] NULL,
	[DIACHI] [nvarchar](1000) NULL,
	[LAOINV] [int] NULL,
	[TRANGTHAI] [int] NULL,
	[TENDANGNHAP] [varchar](250) NULL,
	[MATKHAU] [varchar](250) NULL,
 CONSTRAINT [PK_NV] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 12/28/2017 10:48:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[SOPN] [int] IDENTITY(1,1) NOT NULL,
	[MANCC] [int] NULL,
	[NGAYNHAP] [datetime] NULL,
	[TONGTIEN] [int] NULL,
	[NVLAP] [int] NULL,
 CONSTRAINT [PK_PN] PRIMARY KEY CLUSTERED 
(
	[SOPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CHITIETPN] ([SOPN], [MAHH], [SOLUONGNHAP]) VALUES (1, 2, 200)
INSERT [dbo].[CHITIETPN] ([SOPN], [MAHH], [SOLUONGNHAP]) VALUES (1, 3, 300)
INSERT [dbo].[CHITIETPN] ([SOPN], [MAHH], [SOLUONGNHAP]) VALUES (3, 5, 10)
INSERT [dbo].[CTHOADON] ([SOHD], [MAHH], [SOLUONG]) VALUES (2, 2, 100)
INSERT [dbo].[CTHOADON] ([SOHD], [MAHH], [SOLUONG]) VALUES (2, 3, 50)
INSERT [dbo].[CTHOADON] ([SOHD], [MAHH], [SOLUONG]) VALUES (12, 5, 3)
SET IDENTITY_INSERT [dbo].[HANGHOA] ON 

INSERT [dbo].[HANGHOA] ([MAHH], [TENHH], [SOLUONGTON], [DONGIA], [LOAIHANG], [DONVITINH], [GIANHAP]) VALUES (2, N'Cát Xây', 287, 200000, 1, N'm3', 100000)
INSERT [dbo].[HANGHOA] ([MAHH], [TENHH], [SOLUONGTON], [DONGIA], [LOAIHANG], [DONVITINH], [GIANHAP]) VALUES (3, N'Đá  1x2', 276, 300000, 1, N'm3', 150000)
INSERT [dbo].[HANGHOA] ([MAHH], [TENHH], [SOLUONGTON], [DONGIA], [LOAIHANG], [DONVITINH], [GIANHAP]) VALUES (4, N'Gạch ống', 4964, 700, 1, N'viên', 50000)
SET IDENTITY_INSERT [dbo].[HANGHOA] OFF
SET IDENTITY_INSERT [dbo].[HOADON] ON 

INSERT [dbo].[HOADON] ([SOHD], [TONGTIEN], [NGAYLAP], [MAKH], [NVLAP]) VALUES (2, 1000000, CAST(0x0000A6EE00000000 AS DateTime), 1, 2)
INSERT [dbo].[HOADON] ([SOHD], [TONGTIEN], [NGAYLAP], [MAKH], [NVLAP]) VALUES (5, 10000, NULL, NULL, 2)
INSERT [dbo].[HOADON] ([SOHD], [TONGTIEN], [NGAYLAP], [MAKH], [NVLAP]) VALUES (6, 9999, CAST(0x0000A85100EA10AA AS DateTime), NULL, 2)
SET IDENTITY_INSERT [dbo].[HOADON] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDT], [DIACHI]) VALUES (1, N'Lường VănTrọng', 1231231237, N'123 Củ chi')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDT], [DIACHI]) VALUES (5, N'Trọng new', 1231231233, N'123 Tân Phú')
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [SDT], [DIACHI]) VALUES (6, N'Trọng new 2123123', 1231123123, N'123 Tân Bình1')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
SET IDENTITY_INSERT [dbo].[LOAIHANGHOA] ON 

INSERT [dbo].[LOAIHANGHOA] ([MALOAI], [TENLOAI]) VALUES (1, N'Vật liệu thô')
INSERT [dbo].[LOAIHANGHOA] ([MALOAI], [TENLOAI]) VALUES (2, N'Đồ điện nước')
INSERT [dbo].[LOAIHANGHOA] ([MALOAI], [TENLOAI]) VALUES (3, N'Trang trí nội thất')
SET IDENTITY_INSERT [dbo].[LOAIHANGHOA] OFF
SET IDENTITY_INSERT [dbo].[NHACC] ON 

INSERT [dbo].[NHACC] ([MANCC], [TENNCC], [SDT], [DIACHI]) VALUES (1, N'Công ty Trung Thành', 123123123, N'12 Trường Chinh, Tân Bình, HCM')
INSERT [dbo].[NHACC] ([MANCC], [TENNCC], [SDT], [DIACHI]) VALUES (3, N'Công Ty Vạn Hoa', 123123213, N'Củ chi')
SET IDENTITY_INSERT [dbo].[NHACC] OFF
SET IDENTITY_INSERT [dbo].[NHANVIEN] ON 

INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [SDT], [DIACHI], [LAOINV], [TRANGTHAI], [TENDANGNHAP], [MATKHAU]) VALUES (2, N'Trọng kh2', 123, N'123', NULL, NULL, N'123', N'123')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [SDT], [DIACHI], [LAOINV], [TRANGTHAI], [TENDANGNHAP], [MATKHAU]) VALUES (3, N'trong kh3', 123, N'123123', NULL, NULL, N'123', N'123')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [SDT], [DIACHI], [LAOINV], [TRANGTHAI], [TENDANGNHAP], [MATKHAU]) VALUES (4, N'Trọng lv', 123123, N'củ chi', NULL, NULL, N'123', N'123')
SET IDENTITY_INSERT [dbo].[NHANVIEN] OFF
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] ON 

INSERT [dbo].[PHIEUNHAP] ([SOPN], [MANCC], [NGAYNHAP], [TONGTIEN], [NVLAP]) VALUES (1, 1, CAST(0x0000A6EE00000000 AS DateTime), 50000000, 2)
INSERT [dbo].[PHIEUNHAP] ([SOPN], [MANCC], [NGAYNHAP], [TONGTIEN], [NVLAP]) VALUES (3, 1, CAST(0x0000A857011F61B5 AS DateTime), 1000000, 5)
INSERT [dbo].[PHIEUNHAP] ([SOPN], [MANCC], [NGAYNHAP], [TONGTIEN], [NVLAP]) VALUES (4, 1, CAST(0x0000A857011FD120 AS DateTime), 1000000, 5)
SET IDENTITY_INSERT [dbo].[PHIEUNHAP] OFF
ALTER TABLE [dbo].[CHITIETPN]  WITH CHECK ADD  CONSTRAINT [FK_PN_CTPN] FOREIGN KEY([SOPN])
REFERENCES [dbo].[PHIEUNHAP] ([SOPN])
GO
ALTER TABLE [dbo].[CHITIETPN] CHECK CONSTRAINT [FK_PN_CTPN]
GO
ALTER TABLE [dbo].[CHITIETPN]  WITH CHECK ADD  CONSTRAINT [FK_PN_HH] FOREIGN KEY([MAHH])
REFERENCES [dbo].[HANGHOA] ([MAHH])
GO
ALTER TABLE [dbo].[CHITIETPN] CHECK CONSTRAINT [FK_PN_HH]
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HD] FOREIGN KEY([SOHD])
REFERENCES [dbo].[HOADON] ([SOHD])
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK_CTHD_HD]
GO
ALTER TABLE [dbo].[CTHOADON]  WITH CHECK ADD  CONSTRAINT [FK_CTHD_HH] FOREIGN KEY([MAHH])
REFERENCES [dbo].[HANGHOA] ([MAHH])
GO
ALTER TABLE [dbo].[CTHOADON] CHECK CONSTRAINT [FK_CTHD_HH]
GO
ALTER TABLE [dbo].[HANGHOA]  WITH CHECK ADD  CONSTRAINT [FK_HH_LHH] FOREIGN KEY([LOAIHANG])
REFERENCES [dbo].[LOAIHANGHOA] ([MALOAI])
GO
ALTER TABLE [dbo].[HANGHOA] CHECK CONSTRAINT [FK_HH_LHH]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_HD_KH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_HD_KH]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD  CONSTRAINT [FK_PN_HD] FOREIGN KEY([NVLAP])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[HOADON] CHECK CONSTRAINT [FK_PN_HD]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PN_NCC] FOREIGN KEY([MANCC])
REFERENCES [dbo].[NHACC] ([MANCC])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PN_NCC]
GO
ALTER TABLE [dbo].[PHIEUNHAP]  WITH CHECK ADD  CONSTRAINT [FK_PN_nv] FOREIGN KEY([NVLAP])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUNHAP] CHECK CONSTRAINT [FK_PN_nv]
GO
USE [master]
GO
